@font-face {
  font-family: 'MuseoSansLight';
  src: url("../fonts/MuseoSansCyrl-300.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSansBold';
  src: url("../fonts/MuseoSansCyrl-700.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'MuseoSansLight', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.button {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  outline: none;
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffd71a;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
  max-width: 500px;
}

.section-subtitle {
  display: inline-block;
  font-size: 16px;
}

.input {
  border: 1px solid #dddddd;
  outline: none;
  padding: 20px 26px;
  font-size: 15px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.input:focus {
  border: 1px solid #ffd200;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.slick-slide img {
  margin: auto;
}

.error {
  margin-bottom: 10px;
  display: inline-block;
  margin-left: 10px;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 30px;
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
}

.navbar__phone {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  margin-top: 10px;
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-text {
  -webkit-flex-basis: 45%;
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
  padding-right: 100px;
}

.hero-text__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 20px;
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
}

.offer {
  background: url("../img/offer-img.png");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 30px;
}

.offer-text__manage {
  width: 225px;
  font-size: 15px;
  line-height: 24px;
}

.offer-text__num {
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 40px;
  position: relative;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio-pattern.png") center left repeat-y;
  -webkit-background-size: 50% 50%;
          background-size: 50%;
}

.portfolio__title {
  max-width: 500px;
  margin: auto;
  margin-bottom: 100px;
}

.portfolio__arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 120px;
  margin: auto;
  margin-top: 70px;
}

.slider__item {
  outline: none;
}

.price__title {
  margin: auto;
  margin-bottom: 60px;
}

.price__subtitle {
  text-align: center;
  display: block;
  margin-bottom: 60px;
}

.price__card {
  margin: auto;
  margin-bottom: 30px;
}

.card {
  border: 1px solid #e8e8e8;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.card:hover .card__img:before {
  opacity: 0.8;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
  font-weight: 400;
}

.card__img img {
  display: block;
}

.card__img {
  position: relative;
}

.card__img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(bottom, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(bottom, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
}

.card__link {
  display: inline-block;
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover::after {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  height: 13px;
  z-index: -1;
}

.card__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
}

.brif {
  background-image: url(../img/brif-color-bg.jpg), url(../img/brif-bg.jpg);
  background-position: left center, right center;
  -webkit-background-size: 50%, contain;
          background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.brif__form {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  font-size: 22px;
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}

.interview__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 95px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  line-height: 35px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid #000000;
  margin-right: 30px;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
}

.form__title {
  font-size: 22px;
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}

.form__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 95px;
}

.form__description {
  display: block;
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.contacts {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts__title {
  font-family: 'MuseoSansBold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 100px;
  width: 290px;
}

.contacts-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 20px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 10px;
  }
  .offer {
    -webkit-background-size: cover;
            background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 13px;
  }
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 215px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
  .contacts {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    line-height: 1.4;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 235px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .brif {
    background-position: top center, bottom center;
    -webkit-background-size: 100% 50%, cover;
            background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
    padding-left: 0px;
  }
  .map {
    width: 100%;
    top: 500px;
  }
  .contacts {
    margin: auto;
    padding-top: 60px;
  }
  .contacts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__title {
    margin-bottom: 40px;
  }
}
